@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

blockquote[epub|type~="z3998:song"]{
	font-style: italic;
	text-align: center;
}

blockquote[epub|type~="z3998:song"] p:first-child{
	text-indent: 8em;
}

figure{
	break-inside: avoid;
	margin: 1em 40px;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figcaption{
	font-size: smaller;
	font-style: italic;
	margin: 1em;
}

figcaption p{
	text-indent: 0;
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
