@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

figure{
	margin: 1em auto;
	text-align: center;
}

figure + p{
	text-indent: 0;
}

figure img{
	max-width: 100%;
	margin: auto;
	display: block;
}

figcaption{
	font-style: italic;
	font-size: .75em;
}
