@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

blockquote[epub|type~="z3998:song"]{
	font-style: italic;
	text-align: center;
}

blockquote[epub|type~="z3998:song"] p:first-child{
	text-indent: 8em;
}

figure{
	margin: 1em auto;
	text-align: center;
}

figure + p{
	text-indent: 0;
}

figure img{
	max-width: 100%;
	margin: auto;
	display: block;
}

figcaption{
	font-size: .75em;
	font-style: italic;
	margin: 1em;
}

figcaption p{
	text-indent: 0;
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

footer{
	text-align: right;
	margin-top: 1em;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
